# ----------------------
# Flask
# ----------------------
flask
Flask-WTF
Flask-SQLAlchemy
Flask-Migrate
Flask-Script
Flask-Login
Flask-Session
psycopg2

# ----------------------
# Production Server
# ----------------------
gunicorn
