{% extends "base.html" %}

{% block main %}
<h1 class="page-header">All Users</h1>

<!--ol class = "wrapper"-->
{% for user in users %}
  <div class = "Profile">
  <p>{{user.first_name}} {{user.last_name}}</p>
  <p>{{user.gender}}</p>
  <p>{{user.location}}</p>
  
    {% for pic in pics%}
    {% if pic == user.fileName %}
    <img src="{{ url_for('static', filename='uploads/' + pic) }}" alt = {{pic}} width="240" height="210"/>
    {% endif %}
    {% endfor %} 
  
  </div>
{% endfor %}
<!--/ol-->
{% endblock %}